{% extends "layout.html" %}
{% block body %}
 <section class="section-hero center-block text-center bg-business with-cta" style="padding-top: 52px; padding-bottom: 0px;margin-bottom:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-white font-gotham-bold" style="font-size: 50px; padding-bottom: 0px;color: #494949;">
          <span style="color: #5bbc2e;">Hire a company</span> to deliver your next critical project
        </h1>
        <!-- <p class="subheading" style="padding-bottom: 27px;">
          Upwork is an online workplace where clients work on projects <br>with
          the professionals.
        </p> -->
<!--           <a class="btn btn-white-border btn-block-xs">Get Started</a> -->
      </div>
    </div>
  </div>
</section>
<section class="section-steps bg-light-grey text-center" style="padding-top: 30px; padding-bottom: 30px; border-bottom-style: none; margin-bottom: 30px;">
  <div class="container">
    <div class="row steps">
      <div class="step col-sm-3 padding-right-0">
        <i class="note-icon"></i>
        <h4 class="section-headline  text-uppercase font-gotham-medium">
          Quick turnaround to meet <br />tight deadlines 
        </h4>
      </div>
      <div class="step col-sm-3 padding-right-0">
        <i class="have-managed-icon"></i>
        <h4 class="section-headline  text-uppercase font-gotham-medium">
          Experts to manage your project<br />start to finish
        </h4>
      </div>
      <div class="step col-sm-3">
        <i class="tackle-icon"></i>
        <h4 class="section-headline text-uppercase font-gotham-medium">
          Teams ready to tackle the biggest projects
        </h4>
      </div>
      <div class="step col-sm-3 padding-left-0">
        <i class="hire-team-icon"></i>
        <h4 class="section-headline  text-uppercase font-gotham-medium">
          Reliable support for <br />long-term work 
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="section-quote text-center">
  <div class="container">
    <div class="row bg-light-grey">
      <h2 class="section-title font-gotham-bold" style="margin-bottom: 0;">Say hello to quality without the hassle</h2>
      <div style="padding: 50px;">
        <p class="quote font-gotham-book">
          <em>
            Upwork company providers deliver projects from $5K to $200K and up, while managing the project from start to finish to ensure success. Completing $120M in projects last year, our largest companies have 500+ team members and are ready to get started today. As your business needs grow, we have the providers you need to scale.
          </em>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-profiles text-center bg-light-grey">
  <div class="container">
    {% include "profiles.html" %}
  </div>
</section>


<section id="howto-hire-section" class="section-steps text-center" style="padding-bottom: 25px;margin-bottom: 70px;">
  <div class="container careers-section">
    <div class="row columns">
      <h2 class="section-title font-gotham-bold text-center">How to hire a company on Upwork.</h2>

      <div class="column col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2  horiz-line-block">
        <div class="icon-holder hire"></div>
        <h3 class="font-gotham-medium text-center">Find Company</h3>

        <p class="font-gotham-light text-muted text-center">
          Look for companies in your search.
        </p>
      </div>
      <div class="column col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2  horiz-line-block">
        <div class="icon-holder work"></div>
        <h3 class="font-gotham-medium text-center">Contact Company</h3>

        <p class="font-gotham-light text-muted text-center">
          Connect and describe what you need to start collaborating.
        </p>
      </div>
      <div class="column col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2  horiz-line-block">
        <div class="icon-holder pay"></div>
        <h3 class="font-gotham-medium text-center">Hire With Ease</h3>

        <p class="font-gotham-light text-muted text-center">
          Hire with the click of a button.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="what_says">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-offset-2">
        <div>
          <h2 class="section-title font-gotham-bold text-right" style="padding-right: 50px;margin-bottom:30px;font-size: 32px">A client's success story with a top web development company</h2>
          <p class="font-gotham-book" style="margin-bottom: 22px;">
            <em>
              Our goal has always been to make our clients’ lives easier by taking the lead for the implementation of their product to save them time, so that they can focus on their core business.
              Lorem ipsum dolor sit amet, usu nonumes nominati liberavisse cu, in cum discere bonorum, in dicit causae mel.
            </em>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-xs-offset-2" style="width: 170px;padding: 0px;">
        <div class="bordered">
          <h3><span>&nbsp;Cost&nbsp;</span></h3>
          <div>
            <div class="col-lg-12">
              <p class="title"><span>Development</span></p>
              <i class="note-money"></i>
              <p class="cost">$7 600</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="bordered" style="width: 450px;">
          <h3><span>&nbsp;Results&nbsp;</span></h3>
          <div>
            <div class="col-lg-2" style="width: 145px;padding: 0px;">
              <p class="title"><span>Mobile <br/> Trafic</span></p>
              <i class="note-mobile"></i>
              <p class="cost">+43%</p>
            </div>
            <div class="col-lg-2" style="width: 145px;padding: 0px;">
              <p class="title"><span>Online <br/> Orders</span></p>
              <i class="note-cart"></i>
              <p class="cost">+21%</p>
            </div>
            <div class="col-lg-2" style="width: 145px;padding: 0px;">
              <p class="title"><span>Income</span></p>
              <i class="note-money"></i>
              <p class="cost">+17%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <span style="position: absolute;right: 230px;top: -15px;text-align: right;color: white;font-weight: bold;font-size: 12px;">
      Oleg Lola <br />
      Vacuum Cleaners Online
    </span>
  </div>
</section>
<section class="bg-primary-dark text-center" style="padding: 30px;margin-bottom: 60px;">
  <p class="font-gotham-bold" style="margin-bottom: 30px;">
    Let the best companies know about your project right now
  </p>
  <a href="https://www.upwork.com/signup/create-account/client_post_job" class="btn btn-white-border btn-block-xs">Get Started</a>
</section>

<section class="section-regform text-center">
  <h2 class="section-title font-gotham-bold">Let the best companies know <br /> about your project right now</h2>
  <iframe src="https://www.upwork.com/signup/create-account/client_direct_marketing_iframe?custom_location=howitworks_client">
  </iframe>
</section>

<section class="section-stats text-center bg-primary-dark">
    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <strong class="text-success font-gotham-bold">
            340K
          </strong>

          <p class="stats-description">
            registered company providers
          </p>
        </div>

        <div class="col-sm-3">
          <strong class="text-success font-gotham-bold">
            $1B+
          </strong>

          <p class="stats-description">
            worth of work done annually
          </p>
        </div>

        <div class="col-sm-3">
          <strong class="text-success font-gotham-bold">
            3M
          </strong>

          <p class="stats-description">
            jobs posted annually
          </p>
        </div>

        <div class="col-sm-3">
          <strong class="text-success font-gotham-bold">
            4M+
          </strong>

          <p class="stats-description">
            registered clients
          </p>
        </div>

      </div>
    </div>
  </section>
{% endblock %}