{% extends "layout.html" %}
{% block body %}
   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Find Businesses to deliver your next critical project</h1>
              <p class="lead">Some projects need a team to deliver quickly and efficiently, but what happens when you don’t have the time to manage a team, you just want your project delivered to plan.</p>
              <a class="btn btn-large btn-primary" href="#">Get started</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Find Businesses to deliver your next critical project</h1>
              <p class="lead">If your project budget is $3,000 or more, you need a team or you would usually outsource to a company, then a Business on Upwork could be a great fit for your project need. </p>
              <a class="btn btn-large btn-primary" href="#">Get started</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
{% endblock %}