<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>Upwork - Agency Dream Team.</title>
    <link rel="stylesheet" href="//components.elance-odesk.com/fonts/1.0.0/fonts.global.1.0.0.css">
    <link rel="stylesheet" href="//components.elance-odesk.com/marketing-ui/1.4.11/css/components.css">
<!--     <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div>
      <div class="inner-wrap">
        <header class="header-bar nav-subnav affix">
          <div class="container">
            <img src="//components.elance-odesk.com/marketing-ui/master/img/upwork-logo.svg" alt="Upwork" width="106" height="40">
            <a href="https://www.upwork.com/signup/create-account/client_post_job" class="btn btn-primary pull-right" track-trigger="click" track-data="{&quot;subLocation&quot; : &quot;Header&quot;}">Get Started</a>
          </div>
        </header>
        <div class="header-push"></div>
        <main role="main">
          <div>
            {% block body %}{% endblock %}
          </div>
        </main>
        <footer class="page-footer text-center text-white">
          <div class="container">
            <img src="//components.elance-odesk.com/marketing-ui/master/img/upwork-logo-black.svg" alt="Upwork" width="106" height="40">
              <p class="font-gotham-book">©2003-2015 Upwork Global Inc.</p>
            </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
