<div class="profile-tile-wrapper agency-profile col-lg-3 col-md-4 col-sm-6">
  <article class="profile-tile hovered-add">
    <div style="padding: 0 20px 0 20px;">
      <figure>
        <div class="logo">
          <img src="{{ agency.logo }}">
        </div>
        <figcaption>
          <h3 class="name font-gotham-medium" title="{{ agency.name }}">{{ agency.name }}</h3>
        </figcaption>
      </figure>
      <div class="row icons">
        <div>
          <div class="col-lg-2 item" style="width: 145px;padding: 0px;">
            <p class="title"><span>Job Success</span></p>
            <i class="star-icon"></i>
            <p class="value">{{ agency.job_success }}%</p>
          </div>
          <div class="col-lg-2 item" style="width: 145px;padding: 0px;">
            <p class="title"><span>Hours</span></p>
            <i class="clock-icon"></i>
            <p class="value">{{ agency.hours }}</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-light-grey skills">
      <ul class="skill-bubbles font-gotham-light">
        {% for skill in agency.skills %}
          <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </footer>
  </article>
  <div class="profile-tile-hovered" ng-mouseenter="hovered=1" style="transition-delay: -0.6s; -webkit-transition-delay: -0.6s;">
    <div class="job-success font-gotham-medium">
      <span class="name">{{ agency.job_name }}</span>
    </div>
    <div class="review font-gotham-light">{{ agency.review }}</div>
    <div class="row icons">
      <p class="title"><span>Job Cost</span></p>
      <i class="note-money"></i>
      <p class="value">${{ agency.cost }}</p>
    </div>
    <div class="quick-view-cta">
      <a class="btn btn-default btn-block-xs">View Profile</a>
    </div>
  </div>
</div>